body {
    background: #131217;
    font-family: sans-serif;
    margin: 0;
    text-transform: uppercase;
}

.container {
    position: relative;
    margin: 15px auto;
    padding: 20px 40px 30px;
    background: url("images/dot.png") repeat;
}

.container.smallest {
    width: 700px;
}

.container.small {
    width: 1300px;
}

.container.medium {
    width: 1280px;
}

h3 {
    display: block;
    margin: 0 0 20px;
}

.toggle-block {
    color: white;
    display: flex;
}

.toggle-block > div {
    margin: 0 40px 20px 0;
}

.header {
    background: black;
}

.header_container {
    max-width: 1600px;
    padding: 20px 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#CDNetworks {
    color: white;
}

#CDNetworks > span {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: bold;
}

#CDNetworks > img {
    display: inline-block;
    vertical-align: middle;
}

.info-string {
    position: relative;
    margin: 10px 0 22px;
    padding: 35px 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info-string {
    display: none;
}

#info-string.active {
    display: block;
}

#delay-time span:first-of-type {
    display: block;
    font-size: 26px;
}

.delay-time {
    display: none;
}

.delay-time.active {
    display: block;
}

#delay {
    font-weight: bold;
    letter-spacing: -1px;
}

.recognizeError, .anotherError {
    display: none;
}

.recognizeError.active, .anotherError.active {
    display: block;
    font-size: 16px;
    max-width: 600px;
    margin: 15px auto 0;
    color: #e42b25;
    text-transform: none;
    text-align: center;
}

.actions button {
    display: inline-block;
    margin: 10px 20px 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.actions button:hover {
    opacity: 0.8;
}

.start {
    background-color: #0c9a0c;
    color: white;
    border: none;
}

.end {
    background-color: #a50807;
    color: white;
    border: none;
}

.publisher {
    position: relative;
    display: inline-block;
    text-align: center;
}

.subscriber {
    position: relative;
    display: inline-block;
    text-align: center;
}

#transcription {
    background: #f9f9f9;
    display: inline-block;
    border: 1px solid #ddd;
    margin: 10px;
}

#video {
    flex-grow: 1;
    background: black;
}

#log {
    font-size: 35px;
    text-align: center;
    flex-grow: 1;
    padding: 30px;
    background: #f9f9f9;
}

#transcription {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    display: none;
}

#controls {
    display: none;
    padding: 20px;
    color: white;
    border-top: 1px solid #ddd;
    background: #2f2f2f;
}

.main {
    display: flex;
    max-width: 1920px;
    margin: auto;
    position: relative;
    justify-content: space-between;
}

.main.large {
    flex-direction: column;
}

#transcription.recognizing {
    color: gray;
}

#transcription.done {
    color: black;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 90px;
    letter-spacing: 7px;
    background-color: rgba(0, 0, 0, 0.88);
    padding: 90px 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.video-wrap {
    max-width: 600px;
    position: relative;
}

#customVideo video {
    margin-top: 110px;
}

pre {
    margin: 0;
    white-space: inherit;
    font-family: sans-serif;
}

#spinner {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    /*margin: auto;*/
    display: none;
}

#spinner.active {
    display: inline-block;
}

#spinner.active.center {
    top: 0px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #0c9a0c;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    background: #4368e9;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    background: #e94f53;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    background: #b7ea11;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    background: #e8f31c;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

.places {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 16px;
    color: #adadad;
    font-weight: bold;
}

.toggle-block select {
    text-transform: initial;
}

select {
    background: rgba(0, 0, 0, 0);
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #adadad;
    font-weight: bold;
    border: none;
}

option {
    padding: 5px 10px;
    background: #222129;
    outline: none;
    color: #adadad;
    font-weight: bold;
    border: none;
}

.img {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

video {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
}

video.smallest {
    width: 320px;
    height: 240px;
}

video.small {
    width: 640px;
    height: 480px;
}

video.medium {
    width: 1280px;
    height: 720px;
}

video.large {
    width: 1920px;
    height: 1080px;
}

#error {
    color: #e42b25;
    padding: 20px 0;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    display: none;
}

#error.active {
    display: block;
}

@media (max-width: 1380px) {
    .container {
        width: auto !important;
        max-width: 100%;
    }

    .container.smallest {
        width: 700px !important;
    }

    video {
        max-width: 100%;
        height: auto !important;
    }
}

@media (max-width: 767px) {
    .container.smallest {
        width: auto !important;
    }

    .header_container {
        flex-direction: column;
    }

    .header_container > * {
        margin: 10px;
    }

    #main {
        flex-direction: column;
    }

    #spinner {
        top: -50px;
    }
}